body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ededed;
}

header {
	height: 100px;
	background-color: white;
	border-bottom: 1px solid black;
}

header img {
	max-width: 200px;
	margin: 25px 25px 25px 50px;
}

h1 {
	margin: 10px auto !important;
	position: relative;
	width: 100%;
	max-width: 800px;
}

a p,
h1 a {
	color: black;
}

#content {
	display: block;
	background-color: white;
	margin: 10px auto;
	border: 1px solid #ddd;
	background: #fff;
	position: relative;
	width: 100%;
	max-width: 800px;
}

.post {
	margin: 25px;
}

.subposts {
	margin-top: 20px;
	border-top: 1px dotted#ccc;
}

.subposts .post {
	border: 1px solid black;
}

.subposts .post p {
	margin: 20px;
}

.media img {
	max-width: 320px;
}



